@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero {
  padding-top: 40px;
  padding-bottom: 350px;

  &__burger {
    width: 43px;
    height: 30px;

    &.open {
      height: 43px;
    }
  }

  &__title {
    font-size: 30px;
    margin: 75px 0 30px;
  }

  &__descr {
    &-list {
      max-width: 440px;
      font-size: 20px;
    }

    &-item {
      margin-bottom: 30px;

      &::before {
        top: 5px;
      }
    }
  }
}

.flex {
  display: flex;
}

.adv-subsect {
  &__cards {
    margin: -45% auto 0;
    max-width: 550px;
  }

  &__card {
    padding: 20px 30px 30px 20px;

    &-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &-descr {
      flex-flow: row;
    }

    &-text {
      max-width: 145px;
      width: 100%;
      margin-bottom: 0;
      font-size: 16px;
    }

    &-icon {
      width: 40px;
      height: 40px;
      margin: 35px 0 0 15px;
    }
  }
}