@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  &__logo {
    margin: 0 auto 0 0;
  }

  &__top,
  &__bottom {
    flex-flow: row;
    align-items: center;
  }

  &__rights {
    text-align-last: left;
  }

  &__dev {
    margin: 0 0 0 auto;
  }
}