@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.requirements {
  margin: 45px 0 40px;
  padding-bottom: 155px;
  display: flex;
  flex-flow: column;

  &__title {
    color: $white;
    margin-bottom: 75px;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    font-size: 16px;
  }

  &__item {
    width: calc(50% - 10px);
    padding: 20px;
    margin: 40px 0 0;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
}