@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.calc-request {
  margin: 60px 0;

  &__pic {
    left: 50%;
    transform: translateX(-100%);
  }

  &__img {
    object-position: bottom;
  }
}