@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.rejection {
  margin-bottom: 50px;

  &__list {
    font-size: 18px;
    max-width: 815px;
    margin: 0 auto;
  }

  &__item {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    margin: 60px 42px 0 0;

    &:nth-child(odd) {
      margin-right: 42px;
    }
  }
}
