@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.services {
  padding-top: 90px;
}

.service {
  max-width: 620px;
  padding: 45px 30px;
  margin-right: 20px;
  flex-flow: row;
  background:#FAF8F3;

  &__pic {
    min-width: 185px;
    margin-right: 30px;
  }

  &__text {
    padding: 0;
    max-width: 330px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__descr {
    font-size: 16px;
  }
}