@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.calculator {
  &__results {
    max-width: 620px;
    display: flex;
    flex-flow: column;
  }
}

.calc-res {
  flex-flow: row;

  &__item {
    &-title {
      margin-bottom: 30px;
    }

    &:first-child {
      margin: 0 auto 0 0;
    }
  }

  &__info {
    margin: 40px auto 0;
    flex-flow: row;
    max-width: 460px;
    width: 100%;

    &-text {
      margin: 0 auto 0 0;
    }
  }

  &__link {
    width: 175px;
    padding: 15px 24px;
  }
}